<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		   http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">
           
           
           
    <!-- 自动扫描带有注解的地方(@Service) -->  
    <context:component-scan base-package="com.aplace" />  
    <!-- spring 对 aop的支持，aspectj -->
    <aop:aspectj-autoproxy/>
    
    <!-- 资源文件绑定器,用于国际化 -->           
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">                   
		<property name="basename" value="string" />                 
		<property name="useCodeAsDefaultMessage" value="true" />         
	</bean> 
	
<!--     引入jdbc、jedis配置文件  
	<bean id="propertyConfigurer"  
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations" >
        	<list>
        		<value>classpath*:jdbc_conf.properties</value>
        		<value>classpath*:jedis_conf.properties</value>        	
        	</list>
        </property>  
    </bean>
    
     -->
    









</beans>
